# analyze_expenses

In [7]:
import os
import pandas as pd
# pandas settings
# pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

from IPython.display import display, HTML

# DIR = os.path.dirname(os.path.realpath(__file__))
DIR = os.path.abspath('')
DIR_CSV = os.path.join(DIR,'csv')
# ^ this is where you'll put csv files from your bank's website
DIR_REPORTS = os.path.join(DIR,'reports')
# ^ reports will be saved out here


print('DIR: ', DIR)
print('DIR_CSV: ', DIR_CSV)
print('DIR_REPORTS: ', DIR_REPORTS)

DIR:  c:\Users\JGarza\GitHub\analyze_expenses
DIR_CSV:  c:\Users\JGarza\GitHub\analyze_expenses\csv
DIR_REPORTS:  c:\Users\JGarza\GitHub\analyze_expenses\reports

## clean csv files
my bank adds extra lines to the top of the csv files, the code below removes the extra lines.

In [25]:
# clean csv files

for file in os.listdir(DIR_CSV):
    
    new_file = os.path.join(DIR_CSV,file)
    # print(new_file)

    rewrite = False

    lines = []
    with open(new_file,'r') as f:
        lines = f.readlines()

        remove_rows = []
        for index,l in enumerate(lines):
            # print(index,l)
            if l == 'Date,Description,Amount,Running Bal.\n':
                break
            else:
                remove_rows.append(index)

        for rr in remove_rows:
            del lines[0]
            rewrite = True
    
    if rewrite:
        with open(new_file,'w') as f:
            f.writelines(lines)

In [24]:
def compile_csv():
    '''
    combines/compiles all csv files
    '''
    df = pd.DataFrame()
    error_lists = []
    for file in os.listdir(DIR_CSV):
        try:
            newfile = os.path.join(DIR_CSV,file)
            df = pd.concat([df, pd.read_csv(newfile)], axis=0)
        except Exception as e:
            error_lists.append('error:, ' + file + ', ' + str(e))
            pass

    # remove duplicates
    df = df.drop_duplicates()

    return df, error_lists

df_raw, errors = compile_csv()

print('rows: ', len(df_raw))
if (len(errors) > 0):
    print('errors:')
    print(*errors,sep='\n')

print('\n***colummns***')
display(df_raw.columns)
print('\n***types***')
display(df_raw.dtypes)

print('\n***top 20***')
display(df_raw.head(20))

# display(df_raw)

rows:  172

***colummns***

Index(['Date', 'Description', 'Amount', 'Running Bal.'], dtype='object')

***types***

Date            object
Description     object
Amount          object
Running Bal.    object
dtype: object

***top 20***

,Date,Description,Amount,Running Bal.
0,02/15/2022,Beginning balance as of 02/15/2022,NaN,"17,435.86"
1,02/15/2022,"BANK OF AMERICA, DES:BANK OF AM ID:XXXXXXXXXX0...","8,368.91","25,804.77"
2,02/15/2022,"BANK OF AMERICA, DES:BANK OF AM ID:XXXXXXXXXX0...",394.94,"26,199.71"
3,02/17/2022,MCDONALD'S M2257 OF CA 02/16 PURCHASE CHATSWOR...,-11.81,"26,187.90"
4,02/18/2022,PAYPAL DES:TRANSFER ID:XXXXX43033560 INDN:JUST...,250.14,"26,438.04"
5,02/18/2022,Netflix.com 02/17 PURCHASE netflix.com CA,-13.99,"26,424.05"
6,02/18/2022,MCDONALD'S M2257 OF CA 02/17 PURCHASE CHATSWOR...,-11.81,"26,412.24"
7,02/18/2022,SMART AND FINA 02/18 PURCHASE CHATSWORTH CA,-37.09,"26,375.15"
8,02/18/2022,VONS #1671 02/18 PURCHASE CHATSWORTH CA,-12.97,"26,362.18"
9,02/22/2022,STARBUCKS STORE 05341 02/17 PURCHASE CHATSWORT...,-15.95,"26,346.23"
10,02/22/2022,TMOBILE*AUTO PAY 02/19 PURCHASE 800-937-8997 WA,-70.00,"26,276.23"
11,02/22/2022,INTUIT *TURBOTAX 02/19 PURCHASE CL.INTUIT.COM CA,-128.00,"26,148.23"
12,02/22/2022,MGD KOREAN BBQ #1 02/19 PURCHASE NORTHRIDGE CA,-119.79,"26,028.44"
13,02/22/2022,Subway 11669 02/20 PURCHASE Chatsworth CA,-13.99,"26,014.45"
14,02/22/2022,TST* PIEOLOGY - LOS ANG 02/20 PURCHASE PORTER ...,-17.74,"25,996.71"
15,02/22/2022,SDC*SEVIER COUNTY ELECT 02/21 PURCHASE XXX-XX3...,-302.23,"25,694.48"
16,02/22/2022,ARCO42255001 02/21 PURCHASE CHATSWORTH CA,-51.66,"25,642.82"
17,02/22/2022,SPOTIFY 02/21 PURCHASE 877-778-1161 NY,-9.99,"25,632.83"
18,02/22/2022,TARGET T- 8840 02/21 PURCHASE Northridge CA,-21.89,"25,610.94"
19,02/22/2022,EARL'S DONUT H 02/22 PURCHASE CHATSWORTH CA,-5.25,"25,605.69"