# analyze_expenses

In [19]:
import os
import pandas as pd
# pandas settings
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

from IPython.display import display, HTML

# DIR = os.path.dirname(os.path.realpath(__file__))
DIR = os.path.abspath('')
DIR_CSV = os.path.join(DIR,'csv')
DIR_REPORTS = os.path.join(DIR,'reports')

print('DIR: ', DIR)
print('DIR_CSV: ', DIR_CSV)
print('DIR_REPORTS: ', DIR_REPORTS)

DIR:  c:\Users\JGarza\GitHub\analyze_expenses
DIR_CSV:  c:\Users\JGarza\GitHub\analyze_expenses\csv
DIR_REPORTS:  c:\Users\JGarza\GitHub\analyze_expenses\reports

## clean csv files
my bank adds extra lines to the top of the csv files, the code below removes the extra lines.

In [60]:
# clean csv files

for file in os.listdir(DIR_CSV):
    new_file = os.path.join(DIR_CSV,file)
    print(new_file)

    rewrite = False

    lines = []
    with open(new_file,'r') as f:
        lines = f.readlines()

        remove_rows = []
        for index,l in enumerate(lines):
            print(index,l)
            if l == 'Date,Description,Amount,Running Bal.\n':
                break
            else:
                remove_rows.append(index)

        for rr in remove_rows:
            del lines[0]
            rewrite = True
    
    if rewrite:
        with open(new_file,'w') as f:
            f.writelines(lines)

c:\Users\JGarza\GitHub\analyze_expenses\csv\stmt (1).csv
c:\Users\JGarza\GitHub\analyze_expenses\csv\stmt (2).csv
0 Date,Description,Amount,Running Bal.

c:\Users\JGarza\GitHub\analyze_expenses\csv\stmt (3).csv
0 Date,Description,Amount,Running Bal.

c:\Users\JGarza\GitHub\analyze_expenses\csv\stmt (4).csv
0 Date,Description,Amount,Running Bal.

c:\Users\JGarza\GitHub\analyze_expenses\csv\stmt (5).csv
0 Date,Description,Amount,Running Bal.

c:\Users\JGarza\GitHub\analyze_expenses\csv\stmt.csv
0 Date,Description,Amount,Running Bal.

In [63]:
def compile_csv():
    '''
    combines/compiles all csv files
    '''
    df = pd.DataFrame()
    for file in os.listdir(DIR_CSV):
        try:
            newfile = os.path.join(DIR_CSV,file)
            df = pd.concat([df, pd.read_csv(newfile)], axis=0)
        except:
            print('error')
            pass

    # remove duplicates
    df = df.drop_duplicates()

    return df

df_raw = compile_csv()

display(df_raw.head(20))

error

,Date,Description,Amount,Running Bal.
0,01/19/2022,Beginning balance as of 01/19/2022,NaN,"19,208.09"
1,01/19/2022,LITTLE CAESARS 5726 Q68 01/17 PURCHASE CHATSWO...,-8.81,"19,199.28"
2,01/19/2022,BEST BUY #130 01/19 PURCHASE NORTHRIDGE CA,-21.89,"19,177.39"
3,01/20/2022,BEST BUY MHT 00001305 01/19 REFUND NORTHRIDGE CA,21.89,"19,199.28"
4,01/20/2022,TMOBILE*AUTO PAY 01/19 PURCHASE 800-937-8997 WA,-70.00,"19,129.28"
5,01/20/2022,SO CAL GAS DES:PAID SCGC ID:XXXXX12425 INDN:XX...,-32.50,"19,096.78"
6,01/21/2022,PAYPAL DES:TRANSFER ID:XXXXX53355226 INDN:JUST...,243.14,"19,339.92"
7,01/21/2022,BURGER KING #5896 01/19 PURCHASE CHATSWORTH CA,-15.97,"19,323.95"
8,01/21/2022,SQ *EPIC TACO 01/20 PURCHASE Sun Valley CA,-13.25,"19,310.70"
9,01/24/2022,BANK OF AMERICA DES:2003PPD_US ID:XXXXXXXXXX24...,70.00,"19,380.70"
10,01/24/2022,AMZN MKTP US*7364J25O3 01/20 PURCHASE AMZN.COM...,-114.77,"19,265.93"
11,01/24/2022,SDC*SEVIER COUNTY ELECT 01/21 PURCHASE XXX-XX3...,-265.35,"19,000.58"
12,01/24/2022,SPOTIFY 01/21 PURCHASE 877-778-1161 NY,-9.99,"18,990.59"
13,01/24/2022,LITTLE CAESARS 5726 Q68 01/21 PURCHASE CHATSWO...,-8.27,"18,982.32"
14,01/24/2022,SMART AND FINA 01/22 PURCHASE CHATSWORTH CA,-38.69,"18,943.63"
15,01/24/2022,SMART AND FINA 01/23 PURCHASE CHATSWORTH CA,-21.37,"18,922.26"
16,01/25/2022,VONS #1671 01/25 PURCHASE CHATSWORTH CA,-26.76,"18,895.50"
17,01/28/2022,BURGER KING #5896 01/26 PURCHASE CHATSWORTH CA,-15.97,"18,879.53"
18,01/28/2022,POPEYES 13357 01/27 PURCHASE CHATSWORTH CA,-13.68,"18,865.85"
19,01/31/2022,"BANK OF AMERICA, DES:BANK OF AM ID:XXXXXXXXXX0...","2,085.33","20,951.18"